:root {
  --cor-white: #ffffff;
  --cor-yellow: #ffff00;
  --cor-footer: #2f2e2e;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 34, 34);
  font: normal 15pt Arial;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.622);
  margin-top: 20px; /* Adicione um espaço superior para separar do cabeçalho */
}

div {
  text-align: center;
  padding: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cor-white);
  padding: 20px;
  background-color: var(--cor-footer);
}

.footer span:first-child {
  color: var(--cor-yellow);
}
.footer span:last-child {
  color: var(--cor-white);
}

.logo-footer {
  font-family: "Tektur", sans-serif;
  font-size: 1rem;
  background-color: var(--cor-footer);
}

.footer a {
  background-color: var(--cor-footer);
}
.footer img {
  background-color: var(--cor-footer);
}
.footer p {
  background-color: var(--cor-footer);
}

.links-footer {
  background-color: var(--cor-footer);
}
.links-footer img {
  margin: 0 10px; /* Adiciona um espaçamento de 10px à esquerda e à direita de cada imagem */
}
